<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Document</title>
    <meta name="description" content="" />

    <meta property="og:title" content="" />
    <!-- To support Twitter Cards you need to fill in the content. -->
    <meta property="og:type" content="website" />
    <!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
    <meta property="og:image" content="" />
    <!-- You need to fill in the content with the production URL of the image. -->
    <meta property="og:url" content="" />
    <!-- You need to fill in the content with the production URL of this page. -->
    <meta property="og:description" content="" />
    <!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
    <meta name="twitter:card" content="summary" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->

    <%- include('/gtm-head') %>

    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="stylesheet" href="/assets/styles/pages/common/style.css" />
    <link rel="stylesheet" href="/assets/styles/pages/index/style.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

    <link rel="stylesheet" href="https://use.typekit.net/qbk6fry.css" />
  </head>

  <body>
    <%- include('/gtm-body') %>

    <div class="l-page">
      <%- include('/header') %>

      <main class="l-main">
        <section class="sec-mv">
          <h2 class="sec-mv__title">T-place</h2>
          <p class="sec-mv__text"></p>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slide-img">
                  <img src="/assets/images/pages/index/main_img01.jpg" alt="スライダー画像1" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide-img">
                  <img src="/assets/images/pages/index/main_img02.jpg" alt="スライダー画像2" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide-img">
                  <img src="/assets/images/pages/index/main_img03.jpg" alt="スライダー画像3" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="sec-introduction">
          <div class="l-container">
            <div class="introduction">
              <div class="introduction__img fade">
                <img src="/assets/images/pages/index/sp_photo01.jpg" alt="" width="345px" height="223px" />
              </div>
              <div class="introduction__txt">
                <h2 class="title">ABOUT<br />TRUE</h2>
                <div class="main"><span>真実</span>のタオルの<span>真実</span></div>
                <div class="sub">
                  真面目で優しいものづくりから生まれた、新しい基準の定番タオル。
                </div>
                <div class="introduction__txt--btn">
                  <a href="#">
                    MORE
                  </a>
                </div>
              </div>
            </div>
            <div class="introduction">
              <div class="introduction__img reverse fade">
                <img src="/assets/images/pages/index/sp_photo02.jpg" alt="" width="345px" height="223px" />
              </div>
              <div class="introduction__txt">
                <h2 class="title">ABOUT<br />TRUE</h2>
                <div class="main"><span>真実</span>のタオルの<span>真実</span></div>
                <div class="sub">
                  真面目で優しいものづくりから生まれた、新しい基準の定番タオル。
                </div>
                <div class="introduction__txt--btn">
                  <a href="#">
                    MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="sec-colection">
          <div class="l-container">
            <ul class="sec-colection__items">
              <li class="item">
                <div class="item__img fade">
                  <img src="/assets/images/pages/index/com_photo01.jpg" alt="" />
                </div>
                <p class="item__txt">
                  Classic SUGOI
                </p>
              </li>
              <li class="item">
                <div class="item__img fade">
                  <img src="/assets/images/pages/index/com_photo02.jpg" alt="" />
                </div>
                <p class="item__txt">
                  Classic SUGOI
                </p>
              </li>
            </ul>
          </div>
        </section>

        <section class="sec-story">
          <h2 class="sec-story__head rellax" data-rellax-percentage="0.8" data-rellax-speed="2">
            STORY
          </h2>
          <div class="sec-story__body rellax" data-rellax-percentage="0.5" data-rellax-speed="3">
            <a href="">
              <div class="story__bg"></div>
              <p class="story__txt">
                N° 01<br />
                <span>A story about truth.</span>
              </p>
            </a>
          </div>
        </section>

        <section class="sec-online">
          <div class="l-container">
            <div class="online">
              <div class="online__img fade">
                <img src="/assets/images/pages/index/sp_com_photo03.jpg" alt="" width="345px" height="223px" />
              </div>
              <div class="online__txt">
                <h2 class="title">ONLINE SHOPPING</h2>
                <!-- <div class="main"><span>真実</span>のタオルの<span>真実</span></div> -->
                <div class="sub">TRUE TOWEL公式オンラインストア。<br />ご購入はこちらから。</div>
                <div class="online__txt--btn">
                  <a href="#">
                    MORE
                  </a>
                </div>
              </div>
            </div>
            <div class="online">
              <div class="online__img reverse fade">
                <img src="/assets/images/pages/index/sp_com_photo04.jpg" alt="" width="345px" height="223px" />
              </div>
              <div class="online__txt">
                <h2 class="title">BLOG</h2>
                <!-- <div class="main">タオルにまつわるあれこれをご紹介します。</div> -->
                <div class="sub">
                  タオルにまつわるあれこれをご紹介します。
                </div>
                <div class="online__txt--btn">
                  <a href="#">
                    MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="sec-animate anime-target">
          <div class="animate">
            <p class="animate__txt">
              <a href=""> ONLINE<br />SHOPPING </a>
            </p>
          </div>
        </section>
      </main>
      <!-- .l-main -->

      <%- include('/footer') %>
    </div>
    <!-- .l-page -->

    <script src="/assets/scripts/vendors.js" defer></script>
    <script src="/assets/scripts/pages/common.js" defer></script>
    <script src="/assets/scripts/pages/index.js" defer></script>
  </body>
</html>
